<app-blank pageName="Ürünler" [routes]="['Ürünler']">
    <app-section sectionTitle="Ürün Listesi">
        <div class="form-group row">     
        </div>
        <div class="form-group mt-2">
            <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Create Date</th>
                    <th>Category Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products.products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <!-- <td>{{ product.code }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.createDate | date }}</td>
                    <td>{{product.categoryName}}</td> -->
                  </tr>
                </tbody>
              </table>
        </div>
    </app-section>
</app-blank>